/* COLOR GLOBALS */
$white: #FFFFFF !default;
$green: #50D2C2 !default;
$lightpurple: #D667CD !default;
$darkpurple: #6563A4 !default;
$darkgrey: #1D1D26 !default;
$midgrey: #8E8E93 !default;
$lightgrey: #D7D7D7 !default;
$lightestgrey: #F3F3F3 !default;
$orange: #FCAB53 !default;
