<ion-view view-title="Etsy Login">
  <ion-nav-bar class="sm-header">
  </ion-nav-bar>

  <ion-content class="sm-shifts">

    <div class="flex-row shifts-button-container">
      <div ng-click="home.facebookLogout()" class="flex-row flex-grow flex-basis">
        <div class="button-main button-light button-light-green">
          <div>Logout from Facebook</div>
        </div>
      </div>
      <div class="spacer-5"></div>
<!--       <div ng-click="home.facebookLogin()" class="flex-row flex-grow flex-basis">
  <div class="button-main button-dark button-dark-green">
    <div>Login with Facebook</div>
  </div>
</div> -->
<a href="https://etsyapp.stamplayapp.com/auth/v1/facebook/connect" class="flex-row flex-grow flex-basis">
  <div class="button-main button-dark button-dark-green">
    <div>Login with Facebook</div>
  </div>
</a>



    </div>

  </ion-content>
</ion-view>
